#header {
    height: 60px;
    font-family: 'Noto Sans JP';
    left: 0px;
    top: 0px;
    border-radius: 0px;
    padding: 14px 24px 14px 24px;


    background: #FFFFFF;
    border-radius: 4px;
    border-bottom: 1px solid #EDEDED;
    /* #EDEDED */

    border-bottom: 1px solid #EDEDED;

}

#header .userNameHeader {
    font-family: 'Noto Sans JP';
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #58462F;
    margin-left: 16px;
}

#header .nameHeader {
    /* みつばち */
    width: 63.52px;
    height: 16px;

    color: #1A1311;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
    font-weight: 900;
}

.imgLogo {
    width: 18px;
    height: 18px;
    margin-right: 6px;
}

.header-right {
    cursor: pointer;
}