.orangeColor {
    color: #FFAC7D;
}

.sideNavBar {
    height: 950px;
    width: 209px;
    left: 0px;
    top: 0px;
    border-radius: 0px;
    padding: 24px 12px 24px 12px;
    /* Frame 356 */


    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px 12px;
    gap: 10px;

    width: 209px;
    height: 950px;

    background: #FFFFFF;
    /* #EDEDED */

    border-right: 1px solid #EDEDED;

    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}


#sideBar {
    box-sizing: border-box;
    font-family: 'Noto Sans JP';
    font-size: 14px;
    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px 12px;
    gap: 10px;

    width: 209px;
    height: 100%;

    background: #FFFFFF;
    /* #EDEDED */

    border-right: 1px solid #EDEDED;

    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    color: #838297;
}

#sideBar a {
    color: #838297;
    text-decoration: none;
}

#sideBar ul {
    list-style: none;
    padding-left: 0;
}

#sideBar .pro-icon-wrapper {
    margin-right: 17.67px;
}

#sideBar .pro-inner-item {
    height: 36px;
    width: 186px;
    left: 0px;
    top: 184px;
    border-radius: 4px;
    padding: 6px 21px 6px 21px;

}

#sideBar .pro-menu-item :hover {
    background-color: #FFF4ED;
    color: #F8601B;
}