.top-body {
    background: #F5F5F5;
    padding: 24px;
    gap: 10px;
}

.top-body-left {
    margin-right: 24px;
    width: 40%;
    height: 100%;
    /* Other/#FFFFFF */
    background: #FFFFFF;
    /* Text color/#464646 */

    /* Drop Shadow - button */
    box-shadow: 4px 6px 0px #D8BFB7;
    border-radius: 4px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    align-items: flex-start;
    padding: 24px 15px;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23463529FF' stroke-width='2' stroke-dasharray='12' stroke-dashoffset='10' stroke-linecap='square'/%3e%3c/svg%3e");
}

.top-body-right {
    align-items: flex-start;
    padding: 24px;
    gap: 10px;

    width: 60%;

    /* Other/#FFFFFF */

    background: #FFFFFF;
    border-radius: 4px;
}

.childTittle {
    font-family: 'Noto Sans JP';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    /* identical to box height, or 100% */

    display: flex;
    align-items: center;

    /* Text color/#464646 */

    color: #463529;
}

.top-bill-icon {
    color: #FCCA0D;
}

.top-bill-amount {
    font-weight: 700;
    font-size: 36px;
    line-height: 24px;
}

.top-text-tax {
    font-family: 'Noto Sans JP';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 24px;
}